<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- CSS --}}
    {{!-- jQuery --}}
    <title>Be Prepared to Despair</title>
</head>
<body>
    {{body}}
    {{!-- This is where body will be from but I'm hardcoding buttons --}}

    <input type="text" id="users">
    <button id="add-user"></button>

    <input type="text" id="posts">
    <button id="add-posts"></button>

    <input type="text" id="comments">
    <button id="add-comments"></button>

    {{!-- Static JS Files --}}
    <script src="/js/ajax.js"></script>
    <script src="/js/jquery.js"></script>

</body>
</html>